<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit chat</title>
  </head>
  <body>
    <div>
      <div>
        <h3>Edit Your Chat...</h3>
        <p>This chat was send from <%= chat.from %> to <%= chat.to %></p>
      </div>
      <div>
        <h3><%= chat._id %></h3>
        <form method="POST" action="/chats/<%= chat._id %>?_method=PUT" >
          <textarea name="msg" id="msg" cols="50" rows="10"><%= chat.msg %> </textarea>
          <button type="submit">Create Chat</button>
        </form>
      </div>
    </div>
  </body>
</html>
